.btn.create.export-request-button{
    /*margin-left: 796px;*/
    background-color: #979797;
    margin-right: 0;
    min-width: 215px;
}
.btn.create.export-request-button:hover{
    background-color: #0B0B0C;
}

#map {
    height: 500px;
}

.select2-container.select2-container-multi.form-control {
    height: auto;
}

.select2-search-choice-close {
    margin-top: -7px;
}

.btn.btn-primary, .btn.btn-template-builder {
    color: white;
    background-color: #28292a;
}
.btn.btn-primary:hover, .btn.btn-template-builder:hover {
    background-color: #0B0B0C;
}
.btn-template-builder{
    margin-top: -3px;
}

.template-builder > .form-group .btn-template-builder {
    margin-bottom: 0;
}
.template-builder > .form-group .btn-template-builder {
    width: 19%;
    margin-left: 2.6%;
    float: right;
    margin-right: 0;
    margin-top: -59px;
}
.width-50{
    width: 50%;
    display: inline-block;
    margin-right: 20px;
}

.input-constructor-meta-data{
    box-shadow: 0 0 0 2px #ededed !important;
}

.filled > .input-constructor-meta-data{
    background: #EDEDED !important;
    box-shadow: 0 0 0 0px #ededed !important;
    border-color: transparent !important;
}

.label-constructor-meta-data{
    color: #a5a5a8 !important;
    font-weight: 400 !important;
    font-size: 14px !important;
    height: 20px !important;
    padding: 20px 20px 0px 28px !important;
}

.template-builder .file-input{
    box-shadow: 0 0 0 2px #ededed !important;
}

.label-constructor-meta-data-image-hint{
    color: #a5a5a8 !important;
    font-weight: 400 !important;
    font-size: 14px !important;
    height: 20px !important;
    padding: 0px 20px 0px 28px !important;
}

.wrap .container{
    padding-top: 0 !important;
}

.btn-danger-alone{
    margin-left: 0 !important;
}

.panel-default {
    margin-top: 10px!important;
}
