html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}
{
    /* NOTE: Check the demo's HTML to see some additional RTL support CSS */
    /* Setup animations similar to the ng-messages */ }
/*.hint {
    !* Position the hint *!
    position: absolute;
    left: 2px;
    right: auto;
    bottom: 7px;
    !* Copy styles from ng-messages *!
    font-size: 12px;
    line-height: 14px;
    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
    !* Set our own color *!
    color: grey;
}
.hint.ng-hide,
.hint.ng-enter,
.hint.ng-leave.ng-leave-active {
    bottom: 26px;
    opacity: 0;
}
.hint.ng-leave,
.hint.ng-enter.ng-enter-active {
    bottom: 7px;
    opacity: 1;
}*/

/*.ingredients md-content.autocomplete {
    min-height: 200px; }
.ingredients input[type=number] {
    width: 110px; }
.ingredients .veggie-option {
    float: left;
    width: 20%;
    box-sizing: border-box;
    padding: 0 8px; }
.ingredients .veggie-option .md-item-text {
    padding: 8px;
    background: #f0f0f0;
    border-radius: 3px; }
.ingredients .veggie-option .md-item-text h3, .ingredients .veggie-option .md-item-text p {
    padding: 0;
    margin: 0; }*/
